.view#create-section > .view__card {
  overflow: auto;
}

#created-card .card-body {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 900px) {
  #created-card .card-body {
    grid-template-columns: 1fr;
  }
}
